<html>

<head>
    <link rel="stylesheet" href="styles/details.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="styles/style.css" />
  <link rel="stylesheet" href="styles/vue-material.css" />
    <script type="text/javascript" src="libs/vue.js"></script>
    <script type="text/javascript" src="libs/axios.js"></script>
</head>

<body>
    <a href="index.html">Home</a>


    <div id="update">

        <div class="title">Actualizare vinyl cu id-ul: {{ id }}</div>
        
        <ul class="user-list" >    
          
            <div class="spatiu">
                <label for="name">Name</label>&nbsp;&nbsp;<input type="text" v-model="vinyl.name"><br>
            </div>
            <div class="spatiu">
                <label for="name">Artist</label>&nbsp;&nbsp;<input type="text" v-model="vinyl.artist"><br>
            </div>
            <div class="spatiu">
                <label for="name">Label</label>&nbsp;&nbsp;<input type="text" v-model="vinyl.label"><br>
            </div>
            <div class="spatiu">
                <label for="name">Tracks</label>&nbsp;&nbsp;<input type="text" v-model="vinyl.tracks"><br>
            </div>
            <div class="spatiu">
                <label for="name">Genre</label>&nbsp;&nbsp;<input type="text" v-model="vinyl.genre"><br>
            </div>
            <div class="spatiu">
                <label for="name">Year</label>&nbsp;&nbsp;<input type="text" v-model="vinyl.year"><br>
            </div>
            <div class="spatiu">
                <label for="name">Price</label>&nbsp;&nbsp;<input type="text" v-model="vinyl.price"><br>
            </div>
            <div class="spatiu">
               <button v-on:click="update(vinyl.id)">Save</button>
            </div>
            <p>{{message}}</p>
        </ul>
      </div>

    <script src="src/update.js"></script>
</body>

</html>